@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

#menucito {
    color: #3C4858;
    margin: 10px 15px 0;
    border-radius: 3px;
    line-height: 30px;
    font-size: 14px;

}



@font-face {
    font-family: 'lunchtype21bold';
    src: url('lunchtype21-bold-webfont.woff2') format('woff2'),
         url('lunchtype21-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lunchtype21bold_italic';
    src: url('lunchtype21-bold-italic-webfont.woff2') format('woff2'),
         url('lunchtype21-bold-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lunchtype21medium';
    src: url('lunchtype21-medium-webfont.woff2') format('woff2'),
         url('lunchtype21-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lunchtype21medium_italic';
    src: url('lunchtype21-medium-italic-webfont.woff2') format('woff2'),
         url('lunchtype21-medium-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lunchtype21regular';
    src: url('lunchtype21-regular-webfont.woff2') format('woff2'),
         url('lunchtype21-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lunchtype21italic';
    src: url('lunchtype21-regular-italic-webfont.woff2') format('woff2'),
         url('lunchtype21-regular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.collapsible-header {
  background-color: transparent !important;
}
.sidebar[data-color="purple"] .nav li.active a, .off-canvas-sidebar[data-color="purple"] .nav li.active a {
  background-color: transparent;
  box-shadow: none;
}

.pagination li a {
  background-color: #e0e0e0;
}
.pagination .disabled a {
  background-color: #e0e0e0;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
background-color: #e0e0e0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #878787;
  border-color: #878787;
}
.btn-rojo {
  background-color: #DB6F7D;
}
.btn-verde {
  background-color: #95C086;
}
.btn-azul {
  background-color: #7FA1CA;
}
.btn-gris {
  background-color: #8F8E8F;
}

#imagenPerf {
  width: 7vh;
  height: 7vh;
  margin-right: 100px;
  border-radius: 50%;

}
#imagenPerf img {
  width: 7vh;
  height: 7vh;

}

.but-menu {
  margin-top: 10px;
}
div .botonmail {
  width: 50;
  height: 30px;
  margin-top: 2px;
}
div .botonchat {
  width: 60;
  height: 40px;
  margin-top: -4px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  max-width: initial;
  display: initial;
}
