nav ul a:hover {
  background-color: transparent !important;
}
.carousel.carousel-slider {
    top: 0;
    left: 0;
    margin-top: 3vh;
}
.carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -23px;
}
