nav ul a:hover {
  background-color: grey !important;
}
.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-radius: 2px;
}

@media only screen and (max-width: 1400px) {
  .collapsible-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      line-height: 1.5;
      padding: 3px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
  }
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 15px;
    padding: 0;
}

  }

/* @media only screen and (min-width: 800px) {
  .collapsible-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      line-height: 1.5;
      padding: 15px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
  }
} */

.slider-izquierdo{
    height: 283px;
}
@media only screen and (max-width: 1400px) {
    .slider-izquierdo{
        height: 34vh;
    }
    #imagenPerf img{
        width: 9vh; 
        height: 9vh;
        margin-right: 4vh;
    }
}
.navbar.navbar-transparent {
    background-color: #f5f5f5;
    box-shadow: none;
    border-bottom: 0;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 90px;
    position: fixed;
    width: 84%;
}
@media only screen and (min-width: 1400px) {

    #imagenPerf img{
        width: 7vh; 
        height: 7vh;
        margin-right: 7vh;
        display: inline;
    }
    .navbar.navbar-transparent {
        background-color: #f5f5f5;
        box-shadow: none;
        border-bottom: 0;
        z-index: 999;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        height: 90px;
        position: fixed;
        width: 90%;
    }
}
